# This is a basic workflow that is manually triggered

name: e2e pipeline

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - uses: actions/checkout@v3
    
    - name: Send greeting
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven

    - name: Run Unit Tests
      run: mvn test
      
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'javascript', 'java']
        # CodeQL supports [ 'cpp', 'csharp', 'go', 'java', 'javascript', 'python', 'ruby' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: ${{ matrix.language }}

    - name: Autobuild
      uses: github/codeql-action/autobuild@v2

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2
      with:
        category: "/language:${{matrix.language}}"

  cleanup:
    needs: [build]
    runs-on: ubuntu-latest
    environment: UAT

    steps:
      - name: "cleanup destination at ${{ vars.UAT_IP}}"
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.UAT_IP }}
          port: ${{ vars.UAT_PORT }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          scripts: |
            rm -rf ./deplyoment/*
            rm -rf ${{ vars.UAT_TOMCAT }}/digi*

deploy:
   needs: [cleanup]
   runs-on: ubuntu-latest
   environment: UAT
   steps:
     - name: Download build artifact
       uses: actions/download-artifact@v4
       with:
         name: digi-artifact
         path: ./deployment

     - name: Deploy artifact to UAT server
       uses: appleboy/scp-action@master
       with:
         host: ${{ vars.UAT_IP }}
         port: ${{ vars.UAT_PORT }}
         username: ${{ secrets.USER }}
         key: ${{ secrets.SSH_KEY }}
         source: "./deployment/*"
         target: "./deployment"

     - name: Deploy to Tomcat and restart
       uses: appleboy/ssh-action@master
       with:
         host: ${{ vars.UAT_IP }}
         port: ${{ vars.UAT_PORT }}
         username: ${{ secrets.USER }}
         key: ${{ secrets.SSH_KEY }}
         script: |
           echo "Deploying to Tomcat..."
           cp ./deployment/*.war ${{ vars.UAT_TOMCAT }}/webapps/
           echo "Restarting Tomcat..."
           sudo systemctl restart tomcat
        
   install:
     needs: [deploy]
     runs-on: ubuntu-latest
     environment: UAT
     steps:
      - name: "cleanup destination at ${{ vars.UAT_IP }}"
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.UAT_IP }}
          port: ${{ vars.UAT_PORT }}
          username: ${{ secrets_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: cp -f /home/ec2-user/deployment/deploy/digibank.war ${{ vars.UAT_TOMCAT }}

      - name: Sleep for 10 seconds
        run: Sleep 10s
        shell: bash
